scikit-learn
numpy
pypdf
langchain_community
chromadb
langchain-openai
langchain
langchain_huggingface
rank_bm25
bitsandbytes
accelerate
weaviate-client
langchain-weaviate
sentence_transformers
hf_xet
rank_bm25
cohere
huggingface_hub
tiktoken
openai
langchain-google-genai
flashrank
faiss-cpu
langchain_chroma
lark